<div id="<%= dom_id gloss %>">
  <p>
    <strong>Concepto:</strong>
    <%= gloss.concepto %>
  </p>

  <p>
    <strong>Traducci贸n:</strong>
    <%= gloss.traducci贸n %>
  </p>

  <p>
    <strong>Definici贸n:</strong>
    <%= gloss.definici贸n %>
  </p>

  <p>
    <strong>Enlaces de referencia:</strong>
    <%= gloss.enlaces_de_referencia %>
  </p>

</div>
